@charset "UTF-8";
/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode válores elementos)
*/
body {
    background-color: rgb(206, 255, 193);
    font-family: Arial, Helvetica, sans-serif;    
}

h1 {
    color: rgb(57, 150, 31);
}

h1#principal {
    text-align: center;
    background-color: rgb(20, 82, 3);
    color: white;
}

h2 {
    color: rgb(64, 129, 46);
}

.basico {
    color: rgb(46, 129, 79);
}

.intermediario {
    color: rgb(189, 195, 28);
}

.avançado {
    color: rgb(129, 46, 46);
}

.destaque {
    color: rgb(147, 147, 42)
}